body {
	background-color:black;
}
#mydiv {
	animation-name: example;
	width:100px;
	height:100px;
	background-color:red;
	animation-duration:4s;
}
@keyframes example {
	0% {
		background-color: rgba(0,0,0,255);
	}
	25% {
		background-color: rgba(75,0,0,255);
	}
	50% {
		background-color: rgba(150,0,0,255);
	}
	75% {
		background-color: rgba(225,0,0,255);
	}
}
